<div class="search-form mt-4">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="searchInput" class="form-label">Full name</label>
      <input
        type="text"
        class="form-control"
        id="searchInput"
        placeholder="input right here"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="searchInput" class="form-label">Age</label>
      <input
        type="text"
        class="form-control"
        id="searchInput"
        placeholder="input right here"
        name="age"
      />
    </div>
    <div class="mb-3">
      <label for="searchInput" class="form-label">Key words</label>
      <input
        type="text"
        class="form-control"
        id="searchInput"
        placeholder="input right here"
        name="q"
      />
    </div>
    <div class="mb-3">
      <label for="gender-input" class="form-label">Gender</label>
      <select class="form-control" name="gender" id="gender-input">
        <option value="">__Chose Gender__</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>