<div class="search-form mt-4">
  <form method="GET" action="news">
    <div class="mb-3">
      <label for="searchInput" class="form-label">Full name</label>
      <input
        type="text"
        class="form-control"
        id="searchInput"
        placeholder="input right here"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="searchInput" class="form-label">Age</label>
      <input
        type="text"
        class="form-control"
        id="searchInput"
        placeholder="input right here"
        name="age"
      />
    </div>
    <div class="mb-3">
      <label for="searchInput" class="form-label">Key words</label>
      <input
        type="text"
        class="form-control"
        id="searchInput"
        placeholder="input right here"
        name="q"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>